<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Bracket</title>
</head>
<body>
    <h1>Bracket!</h1>
    <p> Challenjours: </p>
    <% for(var i = 0; i < playerNames.size; i++) {%>
            <p> <%=playerNames[i]%> </p>
    <% } %>
</body>
</html>